@font-face {
    font-family: "阿里妈妈方圆体 VF Regular";
    src: url("//at.alicdn.com/wf/webfont/DiR4hSMxzcnp/HOJZk3wyKZcZ.woff2")
        format("woff2"),
      url("//at.alicdn.com/wf/webfont/DiR4hSMxzcnp/OR57xgaBo8Pa.woff")
        format("woff");
    font-display: swap;
  }
  
  .iconfont {
    font-family: "阿里妈妈方圆体 VF Regular" !important;
    font-size: 16px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }